/* 
  Color Palette
  
  FIR GREEN -> rgb(2, 57, 50);
  PALE SPRING GREEN -> rgb(166, 223, 125);
  GRASS GREEN -> rgb(51, 193, 82);
  LIGHT LIME GREEN -> rgb(217, 242, 150);

  FOREST GREEN -> rgb(34, 139, 34);
  LIME GREEN ->  rgb(45, 196, 45);
  LIME ->  rgb(167, 245, 65);
  WHITE ->  rgb(255, 255, 255);
  BLACK ->  rgb(0, 0, 0);
*/


body, #card-body {
  background-color: rgb(51, 193, 82);
  color: rgb(2, 57, 50);
}

label {
  font-weight: bold;
}

input, select {
  font-size: 1.5rem !important;
}

#sendBtn {
  border: none;
  background-color: rgb(2, 57, 50);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: 500;
  border-radius: 20px;
  padding: 10px;
  width: 24%;
  cursor: pointer;
}