/* 
  Color Palette

  FOREST GREEN -> rgb(34, 139, 34);
  LIME GREEN ->  rgb(45, 196, 45);
  LIME ->  rgb(167, 245, 65);
  WHITE ->  rgb(255, 255, 255);
  BLACK ->  rgb(0, 0, 0);
*/

body {
  background-color: rgb(167, 245, 65);
}

label {
  font-size: 18px;
}

input[type="button"] {
  background-color: rgb(34, 139, 34);
  color: rgb(255, 255, 255);
}

input[type="button"]:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(34, 139, 34);
}