/*
  FOREST GREEN -> rgb(34, 139, 34);
  LIME GREEN ->  rgb(45, 196, 45);
  LIME ->  rgb(167, 245, 65);
  WHITE ->  rgb(255, 255, 255);
  BLACK ->  rgb(0, 0, 0);
*/


* {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: rgb(167, 245, 65);
  background-size: 100vw, 100vh;
  background-attachment: fixed;
  letter-spacing: -0.25px;
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 30px;
}

form {
  margin-top: 55px;
  border-radius: 5px;
  text-align: center;
}

div {
  padding: 10px;
}

label {
  font-weight: lighter;
  color: rgb(0, 0, 0);
}

input {
  border: none;
  text-align: center;
  font-size: 20px;
  border-radius: 3px;
  padding: 7.5px;
  margin: 7.5px;
  width: 10%;
}

select {
  border: none;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  font-size: 16px;
  width: 11%;
}

input.fname, input.lname {
  width: 12%;
}

input.acres {
  width: 7%;
}

input.btn {
  border: none;
  text-align: center;
  background-color: rgb(34, 139, 34);
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  border-radius: 4px;
  width: 20%;
  cursor: pointer;
  margin: 30px;
}