/* 
  Color Palette
  
  FIR GREEN -> rgb(2, 57, 50);
  PALE SPRING GREEN -> rgb(166, 223, 125);
  GRASS GREEN -> rgb(51, 193, 82);
  LIGHT LIME GREEN -> rgb(217, 242, 150);

  FOREST GREEN -> rgb(34, 139, 34);
  LIME GREEN ->  rgb(45, 196, 45);
  LIME ->  rgb(167, 245, 65);
  WHITE ->  rgb(255, 255, 255);
  BLACK ->  rgb(0, 0, 0);
*/


body {
  background-color: rgb(2, 57, 50);
  color: rgb(255, 255, 255);
}

p {
  font-size: 20px;
}

button {
  font-size: 20px;
}

.navbar-toggler {
  display: block !important;
  background: rgb(166, 223, 125);
}

.navbar-toggler-icon {
  display: block !important;
}

.navbar-collapse {
  display: none !important;
}

.navbar-collapse.show {
  display: block !important;
}


/* Sections */

#main-section {
  color: rgb(217, 242, 150);
}

#request-section {
  background-color: rgb(245, 244, 240);
  color: rgb(2, 57, 50);
}

#solutions-section {
  background-color: rgb(217, 242, 150);
  color: rgb(2, 57, 50);
}

#mission-section {
  background-color: rgb(245, 244, 240);
  color: rgb(2, 57, 50);
}


/* Buttons */

#request-btn {
  background-color: rgb(2, 57, 50);
  color: rgb(245, 244, 240);
  font-size: 18px;
  font-weight: bold;
}

#solutions-btn {
  background-color: rgb(245, 244, 240);
  color: rgb(2, 57, 50);
  font-size: 18px;
  font-weight: bold;
}

#loan-calc-btn, #savings-calc-btn {
  background-color: rgb(166, 223, 125);
  color: rgb(2, 57, 50);
  font-size: 18px;
  font-weight: bold;
}

#mission-btn {
  background-color: rgb(2, 57, 50);
  color: rgb(245, 244, 240);
  font-size: 18px;
  font-weight: bold;
}